version: '3.9'

services:
  redis:
    image: redis:latest
    container_name: redis
    command: redis-server --appendonly yes
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  nginx:
    image: nginx:latest
    volumes:
      - ./conf.d:/etc/nginx/conf.d
    depends_on:
      - middleware_api
    ports:
      - '80:80'

  middleware_api:
    image: middleware_api_image
    build: .
    ports:
      - '42001:42001'
    volumes:
      - .:/app
      - /app/node_modules
      - ./prisma:/app/prisma

    working_dir: /app
    command: ['bun', 'run', 'localhost']
    environment:
      - NODE_ENV=localhost
      - REDIS_HOST=redis://redis
      - SERVER_PORT_ENV=42001
      - DATABASE_TYPE_ENV=sqlserver
      - DATABASE_HOST_ENV=192.168.24.23
      - DATABASE_PORT_ENV=1433
      - DATABASE_USERNAME_ENV=natthaphong
      - DATABASE_NAME_ENV=dev_middleware
      - DATABASE_URL=sqlserver://192.168.24.23:1433;database=dev_middleware;username=natthaphong;password=ArChamp@2024;trustServerCertificate=true;poolMax=20;poolMin=undefined;poolIdleTimeout=15000;poolAcquireTimeout=60000

    restart: always

volumes:
  redis_data:
